<app-menu></app-menu>
<div class="component vertical-center">
  <main class="single box-style">
    <div class='page-title detail-heading'>{{title}}</div>
    <table class="table table-sm">
      <tr>
        <td>
            First Name:
        </td>
        <td>
            <input [(ngModel)]="actor.firstName" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Last Name:
        </td>
        <td>
            <input [(ngModel)]="actor.lastName" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Gender:
        </td>
        <td>
            <input [(ngModel)]="actor.gender" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Birth Date:
        </td>
        <td>
            <input [(ngModel)]="actor.birthDate" class="rounded" type="date">
        </td>
      </tr>
    </table>
    <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> 
    <span class="seperator">|</span>
    <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
  </main>
</div>
 