<app-menu></app-menu>
<section class="heading">
    <span class='component-title'>[{{title}}]</span>
  </section>
  <main *ngIf='genre' class="single">
    <table class="table table-sm">
      <tr>
        <td>
            Name:
        </td>
        <td>
            <input [(ngModel)]="genre.name" class="rounded" type="text">
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
  <!--
  <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
  -->