<app-menu></app-menu>
<div class="component vertical-center">
<main class="single box-style">
    <div class='page-title detail-heading'>{{title}}</div>
    <table class="table table-sm">
      <tr>
        <td>
            Movie:
        </td>
        <select [(ngModel)]="moviegenre.movie" class="rounded">
            <option *ngFor='let movie of movies' [ngValue]='movie'>{{movie.title + " [" + movie.year + "]"}}</option>
        </select>
        <tr>
            <td>
                Genre:
            </td>
            <td>
                <select [(ngModel)]="moviegenre.genre" class="rounded">
                    <option *ngFor='let genre of genres' [ngValue]='genre'>{{genre.name}}</option>
                </select>
            </td>
          </tr>
    </table>
    <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span>
    <span class="seperator">|</span>
    <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
  </main>
</div>