<app-menu></app-menu>
<span>&nbsp;<a routerLink="/actor-list" class="detail-link">Return to List</a></span>
<div class="component vertical-center">
    <main *ngIf='actor' class="single box-style">
        <div class="page-title detail-heading">{{title}}</div>
        <table class="table table-sm">
            <tr>
                <td>First Name:</td>
                <td><input [(ngModel)]="actor.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input [(ngModel)]="actor.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input [(ngModel)]="actor.gender" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Birthdate:</td>
                <td><input [(ngModel)]="actor.birthDate" class="rounded" type="text" disabled></td>
            </tr>
        </table>
        <span>
            <span>&nbsp;<button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
        </span>
    </main>
</div>