<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/moviegenre-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th><a [ngClass]='colClasses' (click)="sortBy('movieTitle')">Title</a></th>
            <th><a [ngClass]='colClasses' (click)="sortBy('movieGenre')">Genre</a></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let mg of movieGenres | sort: sortCriteria:sortOrder'>
            <td>{{mg.movie.title}}</td>
            <td>{{mg.genre.name}}</td>
            <td><a routerLink='/moviegenre-detail/{{mg.id}}'>
                <img width='20' height='20' src='assets/details.png' title='Movie Genre Details'> </a>
            | <a routerLink='/moviegenre-edit/{{mg.id}}'>
              <img width='20' height='20' src='assets/pencil-icon.png' title='Movie Genre Edit'></a></td>
        </tr>
    </tbody>
</table>