<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/moviegenre-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th><th>Title</th><th>Year</th><th>Rating</th><th>Director</th><th>Genre Name</th><th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let mg of movieGenres'>
            <td>{{mg.id}}</td>
            <td>{{mg.movie.title}}</td>
            <td>{{mg.movie.year}}</td>
            <td>{{mg.movie.rating}}</td>
            <td>{{mg.movie.director}}</td>
            <td>{{mg.genre.name}}</td>
            <td><a routerLink='/moviegenre-detail/{{mg.id}}'>
                <img width='20' height='20' src='assets/details.png' title='Movie Genre Details'> </a>
            | <a routerLink='/moviegenre-edit/{{mg.id}}'>
              <img width='20' height='20' src='assets/pencil-icon.png' title='Movie Genre Edit'></a></td>
        </tr>
    </tbody>
</table>