<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/moviegenre-list">Return to List</a></span>
    </section>
    <main *ngIf='movieGenre' class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{movieGenre.id}}</td>
            </tr>
            <tr>
                <td>Movie Title:</td>
                <td><input [(ngModel)]="movieGenre.movie.title" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><input [(ngModel)]="movieGenre.genre.name" class="rounded" type="text" disabled></td>
            </tr>

        </table>
    </main>
    <span>
        <span>&nbsp;<button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>