<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/genre-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th><th>Genre</th><th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let genre of genres'>
            <td>{{genre.id}}</td>
            <td>{{genre.name}}</td>
            <td><a routerLink='/genre-detail/{{genre.id}}'>
                <img width='20' height='20' src='assets/details.png' title='Genre Details'>
            </a> | <a routerLink='/genre-edit/{{genre.id}}'>
              <img width='20' height='20' src='assets/pencil-icon.png' title='Genre Edit'></a></td>
        </tr>
    </tbody>
</table>